#APP
APP_DEBUG=true
DEFAULT_TIMEZONE=Asia/Shanghai

#REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=56379
REDIS_DATABASE=0
REDIS_PASSWORD=

#CACHE
DEFAULT_CACHE_DRIVER=file

#MYSQL
MYSQL_DEFAULT=mysql
MYSQL_HOSTNAME=127.0.0.1
MYSQL_DATABASE=radmin
MYSQL_USERNAME=root
MYSQL_PASSWORD=00000000
MYSQL_HOSTPORT=3306
MYSQL_CHARSET=utf8mb4
MYSQL_PREFIX=ra_
MYSQL_DEBUG=true
MYSQL_MIGRATION_TABLE=migrations
